.racer_table td {
  background-color: gray;
  height: 75px;
  width: 75px;
}

.racer_table td.player1CellActive {
  background-color: blue;
}

.racer_table td.player2CellActive {
  background-color: red;
}

.startingBanner {
  width: 150px;
  background-color: green;
  text-align: center;
}

p {
  text-align: center;
}

p .player1Text {

}