.racerTable td {
  background-color: gray;
  height: 75px;
  width: 75px;
}

.racerTable td.player1CellActive {
  background-color: blue;
}

.racerTable td.player2CellActive {
  background-color: red;
}

.startingBanner {
  width: 150px;
  background-color: green;
  text-align: center;
}

td {
  text-align: center;
}

p .player1Text {

}